.main-vender-container {
  z-index: -1;
  background-color: rgb(215, 232, 207);
}

.main-product-card-container {
  position: absolute;
  top: 6rem;
  left: 7rem;
  width: calc(100vw - 7rem - calc(30% - 6rem) - 30px);
  height: calc(100vh - 6rem - 30px);
  padding: 15px;
  display: grid;
  gap: 20px;
  /* grid-template-columns: repeat(auto-fill, 20rem); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 30%);
  /* grid-template-rows: repeat(3, 280px); */
  overflow-y: auto;
}
