.main-navbar-container {
    display: flex;
    width: calc(100% - 2px);
    height: 6rem;
    background-color: greenyellow;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    /* background-color: var(--verde-viche); */
}

.logo-container {
    width: 6rem;
    height: 6rem;
    display: grid;
    place-content: center;
}
.logo-container img {
    width: 6rem;
    height: auto;
}

.links-container {
    font-size: 1.2rem;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links-container a {
    color: rgb(110, 37, 148);
}

.logout-button-container {
    position: absolute;
    right: 10px;
    height: 6rem;
    display: grid;
    place-items: center;
    
}

.logout-button-container p {
    cursor: pointer;
}